/* .navbar{
    text-align: center;
    padding: auto;
    margin:auto;
    
} */

.navbar {
    display: inline;
}
.nav-item{
    margin-left: 10px;
    margin-right: 20px;
}
a { 
    color: #ffffff;
}